<Config>
  <UrlBase>${WHISPARR__URL_BASE}</UrlBase>
  <Branch>${WHISPARR__BRANCH}</Branch>
  <ApiKey>${WHISPARR__API_KEY}</ApiKey>
  <InstanceName>${WHISPARR__INSTANCE_NAME}</InstanceName>
  <PostgresUser>${WHISPARR__POSTGRES_USER}</PostgresUser>
  <PostgresPassword>${WHISPARR__POSTGRES_PASSWORD}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>${WHISPARR__POSTGRES_HOST}</PostgresHost>
  <PostgresMainDb>${WHISPARR__POSTGRES_MAIN_DB}</PostgresMainDb>
  <PostgresLogDb>${WHISPARR__POSTGRES_LOG_DB}</PostgresLogDb>
  <BindAddress>*</BindAddress>
  <LaunchBrowser>False</LaunchBrowser>
  <EnableSsl>False</EnableSsl>
  <SslPort>6969</SslPort>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UpdateMechanism>Docker</UpdateMechanism>
</Config>